{% extends "base.html" %}

{% block page_content %}

<div class="container">
    <div id="example-title">
        <h1>Yes - A History of Changes</h1>
        <img  src="{{ url_for('static',filename='images/yes.gif') }}"></img> 
    </div>

    <h3 id="example-intro">
        <p><span>Y</span>es is one of my favorite bands. During my teenage years I became very fond of the progressive metal band called Dream Theater. I loved their technical ability 
            and the long complex songs that told powerful stories. Falling in love with progressive metal opened the door to progressive rock
        and my first exploration was Yes. This didn't make me the cool kid on the block, but I didn't care one bit. I was hooked</p>

    </h3>
</div>

{% endblock %}